.e1_36 { 
	overflow:hidden;
}
.e1_36 { 
	background-color:rgba(47.0000009983778, 24.000000469386578, 147.00000643730164, 1);
	width:1400px;
	height:890px;
	position:absolute;
}
.e1_37 { 
	width:470px;
	height:600px;
	position:absolute;
	left:715px;
	top:187px;
}
.e1_38 { 
	width:470px;
	height:600px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_39 { 
	background-color:rgba(255, 255, 255, 1);
	width:470px;
	height:600px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e1_40 { 
	color:rgba(37.16977268457413, 218.25328141450882, 196.52318984270096, 1);
	width:56px;
	height:28px;
	position:absolute;
	left:325px;
	top:529px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e1_41 { 
	color:rgba(21.064524985849857, 20.335425809025764, 56.79039224982262, 0.4000000059604645);
	width:215px;
	height:28px;
	position:absolute;
	left:100px;
	top:529px;
	font-family:DM Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e1_42 { 
	width:330px;
	height:50px;
	position:absolute;
	left:70px;
	top:449px;
}
.ei1_42_7_5017 { 
	background-color:rgba(29.000000171363354, 161.0000056028366, 242.00000077486038, 1);
	width:330px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei1_42_7_9422 { 
	color:rgba(255, 255, 255, 1);
	width:138px;
	height:26px;
	position:absolute;
	left:96px;
	top:12px;
	font-family:DM Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e1_43 { 
	width:330px;
	height:50px;
	position:absolute;
	left:70px;
	top:338px;
}
.ei1_43_7_5017 { 
	background-color:rgba(72.00000330805779, 43.00000123679638, 231.00000143051147, 1);
	width:330px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei1_43_7_9422 { 
	color:rgba(255, 255, 255, 1);
	width:56px;
	height:26px;
	position:absolute;
	left:137px;
	top:12px;
	font-family:DM Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e1_44 { 
	width:328.0030517578125px;
	height:26px;
	position:absolute;
	left:69.49848175048828px;
	top:406.3999938964844px;
}
.e1_45 { 
	border:2px solid rgba(234.57275211811066, 234.09336984157562, 237.20081269741058, 1);
}
.e1_45 { 
	width:141.5697021484375px;
	height:2px;
	position:absolute;
	left:186.43333435058594px;
	top:11.100000381469727px;
}
.e1_46 { 
	color:rgba(21.064524985849857, 20.335425809025764, 56.79039224982262, 0.4000000059604645);
	opacity:0.8999999761581421;
	width:16px;
	height:26px;
	position:absolute;
	left:154.5015106201172px;
	top:0px;
	font-family:DM Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e1_47 { 
	border:2px solid rgba(234.57275211811066, 234.09336984157562, 237.20081269741058, 1);
}
.e1_47 { 
	width:141.5697021484375px;
	height:2px;
	position:absolute;
	left:0px;
	top:11.100000381469727px;
}
.e1_48 { 
	width:265px;
	height:26.400390625px;
	position:absolute;
	left:70px;
	top:284px;
}
.e1_49 { 
	color:rgba(21.064524985849857, 20.335425809025764, 56.79039224982262, 0.4000000059604645);
	width:228px;
	height:26px;
	position:absolute;
	left:37px;
	top:0.400390625px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e1_50 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_50_112_1148 { 
	background-color:rgba(37.16977268457413, 218.25328141450882, 196.52318984270096, 1);
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ei1_50_112_1126 { 
	transform: rotate(180deg);
	width:9.59999942779541px;
	height:6px;
	position:absolute;
	left:16.799999237060547px;
	top:9.600000381469727px;
}
.i1_50_112_1126 { 
	border:2px solid rgba(30.004704259335995, 13.518797736614943, 98.36934193968773, 1);
}
.e1_51 { 
	width:330px;
	height:50px;
	position:absolute;
	left:70px;
	top:204px;
}
.i1_51_7_10184 { 
	border:2px solid rgba(234.57275211811066, 234.09336984157562, 237.20081269741058, 1);
}
.ei1_51_7_10184 { 
	width:330px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
    outline: 1px solid rgb(197, 194, 194);
}
.ei1_51_7_10185 { 
	color:rgba(21.064524985849857, 20.335425809025764, 56.79039224982262, 0.4000000059604645);
	width:125px;
	height:26px;
	position:absolute;
	left:24px;
	top:12px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e1_52 { 
	width:330px;
	height:50px;
	position:absolute;
	left:70px;
	top:134px;
}
.i1_52_7_10184 { 
	border:2px solid rgba(234.57275211811066, 234.09336984157562, 237.20081269741058, 1);
}
.ei1_52_7_10184 { 
	width:330px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
    outline: 1px solid 1px solid rgb(197, 194, 194);;
}
.ei1_52_7_10185 { 
	color:rgba(21.064524985849857, 20.335425809025764, 56.79039224982262, 0.4000000059604645);
	width:88px;
	height:26px;
	position:absolute;
	left:24px;
	top:12px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
    
}
.e1_53 { 
	color:rgba(30.004704259335995, 13.518797736614943, 98.36934193968773, 1);
	width:247px;
	height:52px;
	position:absolute;
	left:114px;
	top:48px;
	font-family:DM Sans;
	text-align:center;
	font-size:42px;
	letter-spacing:-0.4000000059604645;
	line-height:px;
}
.e1_54 { 
	width:427px;
	height:496px;
	position:absolute;
	left:209px;
	top:219px;
}
.e1_55 { 
	color:rgba(255, 255, 255, 1);
	width:363px;
	height:160px;
	position:absolute;
	left:3px;
	top:241px;
	font-family:DM Sans;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
	line-height:px;
}
.e1_56 { 
	width:157px;
	height:50px;
	position:absolute;
	left:0px;
	top:446px;
}
.ei1_56_7_5017 { 
	background-color:rgba(232.72925823926926, 57.92824499309063, 125.41472509503365, 1);
	width:157px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei1_56_7_9422 { 
	color:rgba(255, 255, 255, 1);
	width:96px;
	height:26px;
	position:absolute;
	left:31px;
	top:12px;
	font-family:DM Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e1_57 { 
	color:rgba(255, 255, 255, 1);
	width:424px;
	height:217px;
	position:absolute;
	left:3px;
	top:0px;
	font-family:DM Sans;
	text-align:left;
	font-size:58px;
	letter-spacing:-1;
	line-height:px;
}
.e1_58 { 
	width:972px;
	height:40px;
	position:absolute;
	left:213px;
	top:65px;
}
.e1_59 { 
	width:503px;
	height:40px;
	position:absolute;
	left:469px;
	top:0px;
}
.e1_60 { 
	width:120px;
	height:40px;
	position:absolute;
	left:383px;
	top:0px;
}
.ei1_60_7_5017 { 
	background-color:rgba(232.72925823926926, 57.92824499309063, 125.41472509503365, 1);
	width:120px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei1_60_7_9422 { 
	color:rgba(255, 255, 255, 1);
	width:79px;
	height:26px;
	position:absolute;
	left:21px;
	top:7px;
	font-family:DM Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e1_61 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:26px;
	position:absolute;
	left:265px;
	top:7.400390625px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e1_62 { 
	color:rgba(255, 255, 255, 1);
	width:36px;
	height:26px;
	position:absolute;
	left:196px;
	top:7.400390625px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e1_63 { 
	color:rgba(255, 255, 255, 1);
	width:53px;
	height:26px;
	position:absolute;
	left:113px;
	top:7.400390625px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e1_64 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.30000001192092896;
	width:80px;
	height:26px;
	position:absolute;
	left:0px;
	top:7.400390625px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e1_65 { 
	width:111px;
	height:19px;
	position:absolute;
	left:0px;
	top:9px;
}
.ei1_65_7_60 { 
	width:111px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_65_7_60_7_1 { 
	color:rgba(255, 255, 255, 1);
	width:106px;
	height:32px;
	position:absolute;
	left:2px;
	top:-6px;
	font-family:DM Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:-0.2926828861236572;
}